# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

/bin/*

# Outputs for Latex
*/*.pdf
*/*.aux 
*/*.out
*/*.dvi
*/*.log
*/*.bbl
*/*.blg
*/*.gz
/paper/paper.aux
/paper/paper.cjk

# R crap
.Rapp.history
/data/.RData
/data/.Rhistory
.RData
.Rhistory

# dropbox
.DS_Store
/paper/figures/.DS_Store
